/* ===========================
    immport fonts
============================= */
@font-face {
  font-family: "lighter";
  src: url("./fonts/lighter.woff2") format("woff2");
}
@font-face {
  font-family: "bolder";
  src: url("./fonts/bolder.woff2") format("woff2");
}

* {
  margin: 0;
  padding: 0;
}

html {
  box-sizing: border-box;
}

body {
  color: #f4f4f4;
  width: 100%;
  overflow-x: hidden;
}

body.hidden {
  overflow-y: hidden;
}

/* ===========================
    Header style 
============================= */

.header-virtual-space {
  width: 100%;
  height: 80px;
  display: block;
}

header {
  width: 100%;
  height: 80px;
  display: flex;
  justify-content: center;
  background-color: #1a1e1f;
  position: fixed;
  top: 0;
  z-index: 1;
  transition: 0.4s;
}

nav {
  display: flex;
  width: 980px;
  align-items: center;
  justify-content: space-between;
}

nav ul {
  display: flex;
}

nav ul li {
  list-style-type: none;
  padding: 0px 10px 0px 30px;
  font-family: lighter;
  font-size: 14px;
  line-height: 26px;
  transition: 0.3s;
  cursor: pointer;
}

nav ul li:hover {
  color: #00a3e0;
}

nav ul li:nth-child(3) {
  color: #00a3e0;
}

/* ===========================
    mobbile version menu style 
============================= */
.menu-icon {
  height: 21px;
  display: none;
  flex-direction: column;
  justify-content: space-between;
  z-index: 3;
  cursor: pointer;
  position: fixed;
  top: 26px;
  right: 35px;
  transition: 0.4s;
}

.menu-icon div:nth-child(1) {
  width: 13px;
  height: 3px;
  background-color: #dbdbdb;
  border-radius: 1.5px;
  transform-origin: bottom;
  transition: 0.4s ease-in-out;
}

.menu-icon div:nth-child(1).active {
  transform: translate(4px, 1.5px) rotatez(-135deg);
  background-color: #767676;
}

.menu-icon div:nth-child(2) {
  width: 26px;
  height: 3px;
  background-color: #dbdbdb;
  border-radius: 1.5px;
  transform-origin: top;
  transition: 0.4s;
}

.menu-icon div:nth-child(2).active {
  transform: rotatez(-45deg);
  background-color: #767676;
}

.menu-icon div:nth-child(3) {
  width: 13px;
  height: 3px;
  background-color: #dbdbdb;
  border-radius: 1.5px;
  transform: translateX(13px);
  transform-origin: bottom;
  transition: 0.4s ease-in-out;
}

.menu-icon div:nth-child(3).active {
  transform: rotatez(-135deg) translate(-4px, 14.5px);
  background-color: #767676;
}

#mobbileMenu {
  /* position */
  position: fixed;
  top: 0;
  right: 0;
  /* ather */
  display: flex;
  justify-content: center;
  background-color: #1b1e1f;
  width: 220px;
  height: 100%;
  z-index: 2;
  transition: 0.4s ease-in-out;
  transform: translateX(220px);
}

#mobbileMenu.active {
  transform: translateX(0px);
}

#mobbileMenu ul {
  width: 90%;
  margin-top: 85px;
  text-align: end;
}

#mobbileMenu ul li {
  width: 100%;
  list-style: none;
  font-family: lighter;
  padding: 16px 0px;
  cursor: pointer;
  font-size: 14px;
}

#mobbileMenu ul li:nth-child(3) {
  color: #00a3e0;
}

/* ===========================
    banner style 
============================= */
main {
  width: 100%;
  transition: 0.4s;
}

main.hidden {
  filter: brightness(50%);
}

.banner {
  width: 100%;
  height: 352px;
  top: 0;
  position: relative;
}

.banner img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: 50% 50%;
}

.banner-title {
  /* position */
  position: absolute;
  top: 47%;
  left: 50%;
  transform: translate(-50%, -50%);
  /* another */
  width: 980px;
}

.banner-title span:nth-child(1) {
  font-size: 42px;
  font-family: bolder;
}

.banner-title span:nth-child(3) {
  font-family: bolder;
  font-size: 34px;
}

/* ===========================
    project description style 
============================= */

.project-description {
  height: auto;
  background-color: #2b2b2b;
  display: flex;
  justify-content: center;
}

.project-description div {
  width: 980px;
  padding: 55px 0px;
}

.project-description h1 {
  font-size: 28px;
  font-family: lighter;
  line-height: 3rem;
}

.project-description a {
  text-decoration: none;
  color: #00aef3;
  font-size: 20px;
  font-family: lighter;
  font-weight: bold;
  display: inline-block;
  margin-top: 30px;
  transition: 0.4s;
}

.project-description a:hover {
  color: rgb(162, 161, 161);
}

/* ===========================
    courses section style 
============================= */

.courses {
  width: 100%;
  background-color: #161616;
  display: flex;
  justify-content: center;
}

.courses-container {
  width: 980px;
  padding-bottom: 50px;
}

.courses-title {
  display: inline-block;
  margin-top: 35px;
  padding-bottom: 50px;
  font-size: 24px;
  font-family: lighter;
}

#cardContainer {
  display: grid;
  grid-template-columns: auto auto auto;
  justify-content: space-between;
}

.card {
  width: 300px;
  height: 414px;
  margin: 12.5px 0px;
  border: 1px solid rgba(85, 85, 85, 0.7);
  border-radius: 6px;
  overflow: hidden;
}

.card img {
  width: 100%;
  height: 150px;
}

.card-information {
  display: flex;
  position: relative;
  flex-direction: column;
  height: 264px;
}

.card-information div {
  width: 266px;
  margin-left: 22px;
}

.card-information h5 {
  font-family: lighter;
  font-size: 18px;
  margin-top: 30px;
}

.card-information p {
  font-family: lighter;
  font-size: 14px;
  margin-top: 25px;
}

.card-information a {
  display: flex;
  align-items: flex-end;
  position: absolute;
  bottom: 34px;
  left: 22px;
  font-size: 16px;
  font-family: lighter;
  color: #00aeff;
  cursor: pointer;
  transition: 0.4s;
}

.card-information a:hover {
  opacity: 0.8;
}

.card-information a svg {
  padding-right: 9px;
}

.card-information a svg path {
  fill: #00aeff;
}

/* ===========================
    Partners slider style
============================= */

.slider {
  width: 100%;
  background-color: #2b2b2b;
  display: flex;
  align-items: center;
  flex-direction: column;
  position: relative;
  padding: 40px 0px;
}

.carousel {
  max-width: 980px;
  width: 980px;
  height: 224px;
  position: relative;
  overflow: hidden;
}

.partners-title {
  width: 980px;
  padding-bottom: 20px;
}

.carousel_inner {
  overflow: hidden;
}

.partners-title h3 {
  font-size: 24px;
  font-family: lighter;
}

.carousel_item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: absolute;
  width: 100%;
  height: 100%;
  visibility: 0;
  opacity: 0;
}

.carousel_item:nth-child(3) {
  justify-content: center;
}

.carousel_item-active-from-left {
  transition: left 0.2s ease-in-out;
  left: -100%;
}
.carousel_item-active-from-right {
  transition: right 0.2s ease-in-out;
  right: -100%;
}
.carousel_item-active {
  top: 0;
  visibility: visible;
  opacity: 1;
}
.carousel_item-active-from-left.carousel_item-active {
  left: 0;
}
.carousel_item-active-from-right.carousel_item-active {
  right: 0;
}

/* fade effect */
.carousel__fade .carousel_item-active-from-right {
  transform: none;
  opacity: 1;
  transition: opacity 0.5s ease-in-out;
}

.carousel__fade .carousel_item-active-from-left {
  transform: none;
  opacity: 1;
  transition: opacity 0.5s ease-in-out;
}

.carousel_item img {
  max-width: 25%;
  object-fit: contain;
}

/* slider indicator */
.slider-indicator {
  display: flex;
  position: absolute;
  top: 80%;
  left: 50%;
  transform: translate(-50%, -80%);
}

.slider-indicator div {
  margin: 6px;
  width: 6px;
  height: 6px;
  border-radius: 50%;
  background-color: white;
  opacity: 0.4;
}

.slider-indicator div.active {
  opacity: 1;
}

.prev-btn,
.next-btn {
  position: absolute;
  margin: 0 80px;
  top: 50%;
  background-color: transparent;
  color: #fff;
  border: none;
  padding: 10px;
  cursor: pointer;
}

.prev-btn:hover,
.next-btn:hover {
  opacity: 0.7;
}

.prev-btn svg {
  fill: white;
  width: 18px;
  height: 35px;
}

.next-btn svg {
  fill: white;
  width: 18px;
  height: 35px;
  transform: rotate(180deg);
}

.prev-btn {
  left: 0;
}

.next-btn {
  right: 0;
}

/* ===========================
    Accordion section style
============================= */

.accordion {
  width: 100%;
  background-color: #161616;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  font-family: lighter;
  padding: 80px 0px;
}

.accordion-space {
  max-width: 980px;
}

.accordion-title {
  display: flex;
  justify-content: space-between;
  padding-bottom: 20px;
}

.accordion-title h3 {
  font-size: 24px;
}

.all-question-one {
  font-size: 20px;
  color: #00aef3;
  text-decoration: none;
  font-weight: 500;
  transition: 0.4s;
}

.all-question-one:hover {
  color: rgb(162, 161, 161);
}

.all-question-two {
  font-size: 20px;
  color: #00aef3;
  text-decoration: none;
  font-weight: 500;
  margin-top: 60px;
  display: none;
}

.accordion-item {
  border-bottom: 1px solid rgb(53, 49, 49);
  overflow: hidden;
}

.accordion-header {
  cursor: pointer;
  height: 83px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.accordion-header svg {
  fill: white;
}

.accordion-header svg.active {
  transform: rotate(180deg);
}

.accordion-content {
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-in-out;
}

.accordion-content p {
  padding: 10px 2px;
  color: white;
  font-size: 14px;
}

.paragraph-container {
  margin-left: 15px;
}

.accordion-content.active {
  max-height: 1000px; /* Adjust the max-height based on your content */
}

/* ===========================
    Footer section style
============================= */

footer {
  background-color: #1b1e1f;
  width: 100%;
  display: flex;
  justify-content: center;
  height: 228px;
}

.footer-container {
  width: 980px;
  display: block;
}

.tbc-footer-icon {
  position: absolute;
  transform: translateY(60px);
}

.tbc-footer-icon img {
  width: 106px;
  height: 30px;
}

.footer-item {
  width: 100%;
  height: 80%;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

.footer-security {
  display: flex;
  flex-direction: column;
}

.footer-security span {
  margin-top: 25px;
  font-size: 14px;
  font-family: lighter;
}

.footer-security span:nth-child(2) {
  cursor: pointer;
}

.footer-security span:nth-child(2):hover {
  opacity: 0.8;
}

.footer-social {
  display: flex;
  flex-direction: column-reverse;
  align-items: flex-end;
  justify-content: center;
}

.footer-social .social-icons {
  padding-bottom: 30px;
}

.footer-social .social-icons img {
  width: 39px;
  height: 39px;
  margin: 4px;
}

.footer-social button {
  font-size: 16px;
  font-family: lighter;
  color: white;
  background-color: #00aef3;
  border: none;
  border-radius: 6px;
  padding: 8px 32px;
  cursor: pointer;
  transition: 0.4s;
}

.footer-social button:hover {
  background-color: #d5d5d5;
  color: #353131;
}

/* ===========================
    media queries
============================= */

@media screen and (max-width: 1024px) {
  nav {
    width: 95%;
  }

  .banner-title {
    width: 90%;
  }

  .project-description div {
    width: 90%;
    padding: 30px 0px;
  }

  .courses-container {
    width: 80%;
  }

  #cardContainer {
    grid-template-columns: auto auto;
    justify-content: center;
    gap: 10px;
  }

  .carousel {
    width: 95%;
    min-height: 370px;
  }

  .partners-title {
    width: 95%;
  }

  .partners-title h3 {
    font-size: 22px;
  }

  .accordion-space {
    max-width: 90%;
    width: 90%;
  }

  .footer-container {
    width: 95%;
  }
}

@media screen and (max-width: 768px) {
  nav ul {
    display: none;
  }

  .menu-icon {
    display: flex;
  }

  .tbc-logo a svg {
    width: 160px;
    height: 40px;
  }

  .banner {
    height: 280px;
  }

  .banner-title span:nth-child(1) {
    font-size: 30px;
  }

  .banner-title span:nth-child(3) {
    font-size: 26px;
    line-height: 3rem;
  }

  .project-description div h1 {
    font-size: 20px;
    line-height: 1.8rem;
  }

  .courses-container {
    width: 100%;
  }

  .card {
    width: 270px;
  }

  .accordion-title h3 {
    font-size: 26px;
  }

  .all-question-one {
    display: none;
  }

  .all-question-two {
    display: block;
  }
}

@media screen and (max-width: 576px) {
  .menu-icon {
    right: 22px;
  }

  .courses-container {
    width: 90%;
  }

  .courses-title {
    font-size: 28px;
    padding-bottom: 20px;
    margin-top: 30px;
  }

  #cardContainer {
    grid-template-columns: auto;
    justify-content: center;
    gap: 0px;
  }

  .card {
    width: 100%;
    height: 350px;
  }

  .card img {
    height: auto;
  }

  .card-information {
    width: 100%;
    height: auto;
  }

  .card-information h5 {
    width: 100%;
    white-space: nowrap;
  }

  .card-information a {
    position: static;
    margin-left: 22px;
    margin-top: 20px;
    font-size: 16px;
  }

  .card-information div p {
    font-size: 16px;
    margin-top: 20px;
  }

  .partners-title {
    width: 90%;
    padding-bottom: 30px;
  }

  .carousel_item {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 370px;
  }

  .carousel_item img {
    max-width: 200px;
  }

  .prev-btn,
  .next-btn {
    display: none;
  }

  .slider-indicator {
    top: 100%;
  }

  footer {
    height: auto;
    padding-bottom: 60px;
  }

  .footer-container {
    width: 80%;
  }

  .tbc-footer-icon {
    position: relative;
    transform: translateY(0px);
    margin-top: 30px;
  }

  .tbc-footer-icon img {
    width: 130px;
    height: auto;
  }

  .footer-item {
    flex-direction: column-reverse;
    align-items: flex-start;
    margin-top: 30px;
    height: auto;
  }

  .footer-social {
    width: 100%;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
  }

  .footer-social button {
    padding: 8px 25px;
  }

  .footer-security {
    flex-direction: column-reverse;
  }

  .footer-security span {
    font-size: 16px;
  }

  .footer-social .social-icons {
    padding-bottom: 0;
  }
}
