/* ===========================
    immport fonts
============================= */
@font-face {
  font-family: "lighter";
  src: url("./fonts/lighter.woff2") format("woff2");
}
@font-face {
  font-family: "bolder";
  src: url("./fonts/bolder.woff2") format("woff2");
}

* {
  margin: 0;
  padding: 0;
}

body {
  color: #f4f4f4;
}

/* ===========================
    Header style 
============================= */
header {
  width: 100%;
  height: 80px;
  display: flex;
  justify-content: center;
  background-color: #1a1e1f;
}

nav {
  display: flex;
  width: 980px;
  align-items: center;
  justify-content: space-between;
}

nav ul {
  display: flex;
}

nav ul li {
  list-style-type: none;
  padding: 0px 10px 0px 30px;
  font-family: lighter;
  font-size: 14px;
  line-height: 26px;
  transition: 0.3s;
  cursor: pointer;
}

nav ul li:hover {
  color: #00a3e0;
}

nav ul li:nth-child(3) {
  color: #00a3e0;
}

/* ===========================
    banner style 
============================= */
main {
  display: 100%;
}

.banner {
  width: 100%;
  height: 352px;
  top: 0;
  position: relative;
}

.banner img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: 50% 50%;
}

.banner-title {
  /* position */
  position: absolute;
  top: 47%;
  left: 50%;
  transform: translate(-50%, -50%);
  /* another */
  width: 980px;
}

.banner-title span:nth-child(1) {
  font-size: 42px;
  font-family: bolder;
}

.banner-title span:nth-child(4) {
  font-family: bolder;
  font-size: 34px;
}

/* ===========================
    project description style 
============================= */

.project-description {
  height: auto;
  background-color: #2b2b2b;
  display: flex;
  justify-content: center;
}

.project-description div {
  width: 980px;
  padding: 55px 0px;
}

.project-description h1 {
  font-size: 28px;
  font-family: lighter;
  line-height: 3rem;
}

.project-description a {
  text-decoration: none;
  color: #00aef3;
  font-size: 20px;
  font-family: lighter;
  font-weight: bold;
  display: inline-block;
  margin-top: 30px;
}

/* ===========================
    courses section style 
============================= */

.courses {
  width: 100%;
  background-color: #161616;
  display: flex;
  justify-content: center;
}

.courses-container {
  width: 980px;
}

.courses-title {
  display: inline-block;
  margin-top: 35px;
  padding-bottom: 50px;
  font-size: 24px;
  font-family: lighter;
}

#cardContainer {
  display: grid;
  grid-template-columns: auto auto auto;
  justify-content: space-between;
}

.card {
  width: 300px;
  height: 414px;
  margin: 12.5px 0px;
  border: 1px solid rgba(85, 85, 85, 1);
  border-radius: 6px;
  overflow: hidden;
}

.card img {
  width: 100%;
  height: 150px;
}

.card-information {
  display: flex;
  position: relative;
  flex-direction: column;
  height: 264px;
}

.card-information div {
  width: 266px;
  margin-left: 22px;
}

.card-information h5 {
  font-family: lighter;
  font-size: 18px;
  margin-top: 30px;
}

.card-information p {
  font-family: lighter;
  font-size: 14px;
  margin-top: 25px;
}

.card-information a {
  display: flex;
  align-items: flex-end;
  position: absolute;
  bottom: 26px;
  left: 22px;
  font-size: 16px;
  font-family: lighter;
  color: #00aeff;
  cursor: pointer;
}

.card-information a svg {
  padding-right: 7px;
}

.card-information a svg path {
  fill: #00aeff;
}
